/**
 * Base Styles
 */

 body {

    color: $gray-dark;
    font-family: $sans;
    overflow-x: hidden;

    // Prevent aniamtions from happening immediately
    &.preload * {
        @include transition(
            none !important
            );
    }

    // Box sizing all the things
    *, *::after, *::before {
        box-sizing: border-box;
    }

    // minimum site width for mobile
    min-width: $phone-portrait;

    // Selection color
    ::-moz-selection { 
        color: white;
        background: $primary; 
    }
    ::selection { 
        color: white;
        background: $primary; 
    }
    
}

// LINKS
a {
    color: $gray;
    @include transition( color .3s, border-color .3s );

    @include link-states {
        color: $primary;
    }

    &.red {
        color: $primary;

        @include link-states {
            color: $primary-light;
        }
    }

    &.light {
        color: $gray-light;

        @include link-states {
            color: $primary;
        }
    }
}

p.large {
    font-size: 1.3em;
    line-height: 1.8em;
}

p.huge {
    font-size: 1.6em;
    line-height: 1.6em;
}

p.info {
    font-size: .9em;
    color: $gray;

    &.top-flush {
        margin-top: -15px;
        margin-bottom: 30px;
    }
}

.sans {
    font-family: $sans;
}

.serif {
    font-family: $serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.primary {
    color: $primary;
}

hr.huge {
    margin: 5em 0;
}

// HEADINGS
h1,h2,h3,h4,h5,h6 {
    font-family: $sans;
    font-weight: normal;

    &:not(:first-child) {
        margin-top: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

// Time object
.time {
    color: $gray-light;
}
