/**
 * IcoMoon Icon Fonts
 */

 @font-face {
    font-family: 'icomoon';
    src:url('../../fonts/icomoon.eot?2c6anx');
    src:url('../../fonts/icomoon.eot?#iefixcnkiiz') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?2c6anx') format('truetype'),
        url('../../fonts/icomoon.woff?2c6anx') format('woff'),
        url('../../fonts/icomoon.svg?2c6anx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

 .icon-bump:before {
    content: "\e604";
 }
 .icon-comment:before {
    content: "\e605";
 }
 .icon-education:before {
    content: "\e600";
 }
 .icon-lightning:before {
    content: "\e601";
 }
 .icon-location:before {
    content: "\e602";
 }
 .icon-prize:before {
    content: "\e603";
 }
 .icon-email:before {
    content: "\65";
 }
 .icon-facebook:before {
    content: "\66";
 }
 .icon-instagram:before {
    content: "\69";
 }
 .icon-linkedin:before {
    content: "\6c";
 }
 .icon-twitter:before {
    content: "\74";
 }
 .icon-web:before {
    content: "\77";
 }
