/**
 * Home View
 */

 .showcase {
     // @extend %vertical-align-parent;
     padding: 80px 0;
     
     @extend %cover-image;

     @include media( $phone-landscape-down ) {
        padding: 50px 0;
     }

     // Background shade
     &.custom .background:before {
        opacity: .5;
        background-color: $gray-dark;
     }

     .showcase-content {
         @extend .container;
         
         color: white;
         padding: 0 250px;
         position: relative;
         text-align: center;
         z-index: $layer-main;

         h1 {
             font-size: 3em;
         }

         p {
            font-family: $serif-medium;
             margin-bottom: 3em;
             font-size: 1.2em;
         }

         @include media( $phone-landscape-down ) {
            padding: 0;

            h1 {
                font-size: 2em;
            }
         }

         @include media( $tablet-landscape-down ) {
            padding: 0 30px;
         }
     }
 }

.home-content {
    min-height: 400px;
    margin-bottom: 30px;

    > section, > aside {
        margin-top: 60px;
    }
}

.home-articles {
    margin-top: 50px;
}