/**
 * Pending Message page
 */

.pending {
    .peace-out {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 60px;

        img {
            width: 130px;
        }
    }

    .back-home {
        margin-top: 60px;

        a {
            font-size: 18px;
            color: $gray-light;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray-light;

            @include link-states {
                color: $primary;
                border-color: $primary;
            }
        }
    }
}