/* User management page */

.user-management {
    margin-bottom: 80px;

    .user-group {
        margin-bottom: 60px;
    }

    .user {
        width: 100%;
        display: table;
        margin-bottom: 20px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid lighten($gray-light, 10%);

        .name, .action {
            display: table-cell;
        }

        .action {
            text-align: right;
        }
    }

    // Redirect section
    // ================
    .redirect {

        @include outer-container;

        .name {
            @include span-columns( 3 );

            display: inline-block;
            padding-top: 8px;
            color: $gray-light;

            a {
                color: $primary;
                text-decoration: underline;
            }
        }

        .url {
            @include span-columns( 6 );
        }

        .action {
            @include span-columns( 3 );

            color: $gray-light;
            display: inline-block;
            
            &:not(.form) {
                padding-top: 8px;
            }
        }

        &.add-form .name {
            padding-top: 0;
        }

        @include media( $phone-landscape-down ) {
            .name, .url, .action {
                @include span-columns( 12 );

                padding-top: 0;
            }

            input[type="submit"] {
                width: 100%;
            }

            .action {
                text-align: right;
            }

            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}