/**
 * User Profile
 */

.user-profile {

    .social ul {
        text-align: center;
        @include inline-list( 30px );

        @include media( $phone-landscape-down ) {
            @include inline-list( 20px );
        }

        li {
            font-size: 25px;
            margin-bottom: 80px;

            @include media( $phone-landscape-down ) {
                margin-bottom: 40px;
            }
        }

        a {
            color: $primary;

            &:hover {
                color: $primary-light;
            }
        }
    }

    .social.editable {

        li {
            position: relative;
        }

        a {
            color: $gray-light;

            @include link-states {
                color: $primary;
            }
        }

        .popup {
            left: 50%;
            top: -110px;
            width: 300px;
            display: none;
            font-size: 15px;
            background: white;
            position: absolute;
            padding: 20px 28px;
            border: 1px solid $gray;
            @include transform( translateX(-51.5%) );

            &.active {
                display: inline-block;
            }

            &.filled + a {
                color: $primary;

                @include link-states {
                    color: $primary-light;
                }
            }

            &:after {
                left: 50%;
                bottom: 0;
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                margin-bottom: -18px;
                background-color: white;
                border-right: 1px solid $gray;
                border-bottom: 1px solid $gray;
                @include transform( rotate(45deg) translateX(-50%) );
            }

            input {
                margin: 0;
                padding: 0;
                border: none;
                text-align: center;
            }

            .url-field {

                min-height: 30px;
                text-align: center;

                .precede {
                    color: $gray;
                }

                span {
                    display: inline;

                    &:focus {
                        outline: none;
                    }
                }

                .url:empty:not(:focus):before {
                    content:attr(data-placeholder);
                    color: $gray;
                    border-bottom: 1px dotted $gray;
                }
            }
        }
    }

    .actions {
        text-align: center;
        margin-bottom: 40px;

        ul {
            @include inline-list( 20px );
        }
    }

    .bump-status {
        text-align: right;

        .super-bump {
            width: 78px;
            position: relative;
            display: inline-block;

            @include media( $tablet-portrait-up ) {
                position: absolute;
                top: 65px;
                right: 300px;
            }

            .count {
                right: -4px;
                width: 32px;
                height: 23px;
                bottom: 7px;
                display: block;
                color: $primary;
                font-size: 14px;
                position: absolute;
                text-align: center;
            }
        }

        @include media( $tablet-portrait-down ) {
            text-align: center;

            .super-bump {
                margin-left: 3px;
            }
        }
    }
}

.profile-header {
    margin-bottom: 90px;
    @include outer-container;

    @include media( $phone-landscape-down ) {
        margin-bottom: 40px;
    }

    .avatar-wrap, .info {
        @include span-columns( 6 );

        @include media( $tablet-portrait-down ) {
            @include span-columns( 12 );
        }
    }

    .avatar-wrap {
        position: relative;
        text-align: center;
        margin-bottom: 50px;

        .frame {
            width: 200px;
            height: 200px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            background-size: cover;
            background-color: $gray;
            background-position: center center;
            @extend %hw-accelerate;

            .default {
                top: 0;
                left: 0;
                width: 200px;
                display: none;
                position: absolute;
            }

            &.dropped, &.photo {
                background-color: transparent;
            }

            &.default {
                background-color: transparent;
                img.default {
                    display: initial;
                }
            }

            // Overlay
            &:before {
                top: 0;
                left: 0;
                opacity: 0;
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                background-color: $primary;

                @include transition( opacity .3s );
            }

            &.hover:before {
                opacity: .65;
            }

            input[type="file"] {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                padding: 0;
                width: 100%;
                cursor: pointer;
                position: absolute;
            }
        }

        .super-count {
            top: 60px;
            width: 75px;
            right: 290px;
            height: 75px;
            display: inline-block;
            position: absolute;
            background: url('/img/emoji/bump-super-number.svg') top left no-repeat;

            span {
                right: -4px;
                width: 30px;
                bottom: 2px;
                display: block;
                color: $primary;
                font-size: 12px;
                position: absolute;
                text-align: center;
            }
        }

        .photo-edit {
            text-align: right;
            margin-top: 20px;

            ul {
                width: 200px;
                text-align: center;
                display: inline-block;

                @include media( $tablet-portrait-down ) {
                    width: 100%;
                }

                li:first-child {
                    font-size: 18px;
                }

                @include vertical-list( 10px );
            }
        }

        @include media( $tablet-portrait-down ) {
            .photo {
                margin-bottom: 30px;
            }

            .super-count {
                top: 165px;
                right: initial;
                @include transform( translateX( -50% ) );
            }
        }

        .crown {
            display: none;

            img {
                margin-bottom: 15px;
            }
        }

        &.crowned {
            .crown { display: initial; }
        }

        @include media( $tablet-portrait-up ) {
            margin-top: 104px;
            text-align: right;
            padding-right: 60px;

            .crown {
                margin-right: 50px;
            }

            &.crowned {
                margin-top: 0px;
            }
        }
    }

    .info {
        @include media( $tablet-portrait-up ) {
            padding-left: 60px;
        }

        &.no-pad {
            padding-left: 0;
        }

        // Non-editable user info list
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 40px;

                    @include media( $tablet-portrait-down ) {
                        margin-bottom: 20px;
                    }
                }

                position: relative;
                font-family: $serif;
                font-size: 18px;

                display: table;
                width: 100%;

                span {
                    display: table-cell;
                    position: relative;

                    &:first-child {
                        font-size: 26px;
                        color: $gray-light;
                        display: inline-block;
                        margin-right: 25px;
                        vertical-align: -6px;
                    }

                    &:nth-child(2) {
                        width: 100%;
                    }

                    @include media( $tablet-portrait-up) {
                        &:first-child {
                            position: absolute;
                            left: -50px;
                            top: -1px;
                        }
                    }
                }

                // [class^="icon-"], [class*=" icon-"] {
                //     font-size: 26px;
                //     color: $gray-light;
                //     vertical-align: -6px;
                //     margin-right: 20px;
                // }

                // @include media( $tablet-portrait-up) {
                //     [class^="icon-"], [class*=" icon-"] {
                //         position: absolute;
                //         left: -50px;
                //         top: -1px;
                //         vertical-align: initial;
                //         margin-right: 0;
                //     }
                // }
            }
        }

        .info-group {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        label {
            font-weight: normal;
            font-size: 14px;
            color: $gray-light;
            margin-bottom: 0;
        }

        input[type="text"],
        textarea {
            padding-left: 0;
            padding-right: 0;
            font-family: $serif;
            font-size: 18px;
            margin-bottom: 0;
            @extend %clean-input;
        }

        h1 {
            font-size: 45px;
            margin-bottom: 0;
            font-family: $sans-medium;
        }

        .title {
            color: $gray-light;
            font-size: 24px;
            font-family: $sans-italic;
        }
    }

    .questions {
        input {
            font-size: 24px;
            text-align: center;
            font-family: $serif;

            @include placeholder {
                color: $gray-light;
            }
        }
    }

    p {
        text-align: center;
    }

    span[contenteditable="true"] {
        font-size: 22px;
        line-height: 50px;
        color: $gray-light;
        font-family: $serif;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-light;

        &:focus, &:active {
            border-bottom-color: $primary;
            outline: none;
        }
    }
}

%large-field {
    font-size: 28px !important;
    font-family: $serif-italic;
    color: $gray;

    @include placeholder {
        color: $gray-light;
    }
}

&.editing {
    .profile-header .info input.pro_title {
        @extend %large-field;
    }

    .profile-header .info input.name  {
        @extend %large-field;

        font-size: 40px !important;
        margin-bottom: 20px;
    }
}

.stats {
    @include outer-container;

    .stat {
        margin-bottom: 50px;

        @include span-columns( 4 );

        @include media( $phone-landscape-down ) {
            @include span-columns( 12 );
        }
    }

    .more {
        padding-top: 30px;
        text-align: center;
        border-top: 1px solid $gray-light;

        a {
            color: $primary;

            &:hover, &:active, &:focus {
                color: $primary-light;
            }
        }
    }

    .empty {
        text-align: center;
        color: $gray-light;
        font-family: $serif-italic;
        font-size: 18px;
    }

    .article-preview {
        // Force even vertical spacing
        // Too much?
        // height: 350px;

        @include media( $phone-landscape-down ) {
            height: 300px;
        }
    }

    .stat-number {
        text-align: center;
        
        margin-top: 20px;
        margin-bottom: 50px;

        h2 {
            font-size: 80px;
            line-height: 80px;
            margin-bottom: 0px;
        }

        span {
            color: $gray;

            @include media( $phone-landscape-down ) {
                font-size: 14px;
            }
        }
    }
}