/**
 * Content
 */

.main-content {
    @extend %hw-accelerate;
    @extend %cody-base;

    // background: #efefef;
    // min-height: 100vh;
    z-index: $layer-main;
}

.page-title {
    font-size: 24px;
    color: $gray-dark;
    margin-bottom: 40px;
    font-family: $sans-medium;
}

.has-sidebar {
    @include outer-container;

    > section {
        @include span-columns( 8 );
    }

    > aside {
        @include span-columns( 4 );
    }

    @include media( $phone-landscape-down ) {
        > section, > aside {
            @include span-columns-wide( 12 );
        }
    }
}