/**
 * Site Footer
 */

.main-footer {
    padding-bottom: 20px;

    .container {
        @include clearfix;
    }

    .copyright {
        float: right;
        color: $gray;
        font-size: 1em;
        padding: 10px 0;
    }
}

.main-footer-nav {
    float: left;

    li {
        display: inline-block;
        font-size: 1em;
        &:not(:first-child) {
            margin-left: 60px;

            @include media( $phone-landscape-down ) {
                margin-left: 20px;
            }
        }
    }

    a {
        display: block;
        padding: 10px 0;
    }
}