/**
 * Forms
 */

 %clean-input {
     color: $gray-dark;
     border-radius: 0;
     border-top-width: 0;
     border-left-width: 0;
     border-right-width: 0;
     box-shadow: none;

     @include transition( border .2s );

     // placeholder
     @include placeholder {
         color: $gray;
     }
 }

// Search Input
input[type="search"]::-ms-clear {
    /* removes close icon - IE */
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// Input
#{$all-text-inputs}, div.form-control.editable {
    box-shadow: none;
    border-radius: 0;
    font-family: $sans;
    margin-bottom: 1.5em;
    -webkit-appearance: none;

    &:focus {
        border-color: $primary;
        outline: 0;
        box-shadow: none;
    }

    &.clean {
        @extend %clean-input;
    }
}

// checkbox styling
input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    visibility: hidden;

    &:after {
        width: 20px;
        content: '';
        height: 20px;
        display: block;
        background: white;
        border-radius: 5px;
        visibility: visible;
        border: 1px solid $gray;
        @include transition( transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) );
    }

    &:checked:after {
        border-color: $primary;
        background-color: $secondary;
        @include transform( scale(1.2) );
    }

    &:checked:before {
        top: 0px;
        left: 2px;
        content: '✔';
        width: 0px;
        height: 0px;
        display: block;
        color: $primary;
        font-size: 17px;
        position: absolute;
        visibility: visible;
        z-index: $layer-main;
    }
}

// Gutter Header
// header.gutter {
//     position: relative;

//     .gutter-item {
//         left: -40px;
//         top: 7px;
//         position: absolute;

//         @include media( $tablet-portrait-down ) {
//             top: initial;
//             left: initial;
//             position: initial;
//             margin-right: 15px;
//             vertical-align: 3px;
//             display: inline-block;
//         }
//     }
// }

.gutter-block {
    position: relative;

    .gutter {
        position: absolute;
        top: 0;
        left: -50px;
    }

    input[type="checkbox"] {
        margin-top: 7px;
    }

    .star {
        margin-top: 2px;
    }
    
    @include media( $tablet-landscape-down ) {
        .gutter {
            float: left;
            position: initial;
            margin-right: 20px;
        }

        main {
            overflow: hidden;
        }
    }
}

// autosize
textarea.autosize {
    resize: none;
}

input[type='submit'] {
    &.wide {
        width: 100%;
    }

    border-radius: 0;
    @include transition( background .2s);
}

// prevent focus border on search field
#search-field:focus {
    box-shadow: none;
}

// Stars On/Off/Was
.star {
    $starSize: 28px;

    width: $starSize;
    display: inline-block;
    background: url('/img/stars-sprite.svg') top left no-repeat;
    background-size: ($starSize * 4) $starSize;

    &.filled {
        background-position-x: -$starSize;
    }

    &.active {
        background-position-x: - ($starSize * 2);
    }

    &.outline {
        background-position-x: - ($starSize * 3);
    }

    img {
        width: 100%;
        display: block;
    }

    &.hasbeen {
        @extend .filled;
    }

    &.featured {
        @extend .active;
    }
}

// ERRORS
.errors-list {
    padding: 20px;
    color: $primary;
    margin-bottom: 40px;
    background-color: rgba( $primary, .05 );

    li {
        padding: 5px;
        padding-bottom: 0;
        display: flex;
    }

    .icon {
        min-width: 35px;
        font-size: 32px;
        margin-top: -4px;
        margin-right: 10px;
        vertical-align: middle;
        color: rgba( mix( $primary, black, 80% ), .2 );
    }
}

// Article Edit/Create
.cover-photo.upload {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    // Overlay
    &:before {
        opacity: 0;
        width: 100%;
        content: '';
        height: 100%;
        display: block;
        position: absolute;
        background: $primary;

        @include transition( opacity .3s );
    }

    &.hover:before {
        opacity: .3;
    }

    input[type="file"] {
        padding: 0;
        width:100%;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
     }
}

// General errors
.form-group {
    &.error {
        label {
            color: $primary;
        }

        #{$all-text-inputs} {
            border-color: mix($primary, #fff, 30%);

            @include placeholder {
                color: mix($primary, white, 50%);
            }
        }
    }
}

// Note
.form-group .note {
    color: $gray;
    font-family: $serif;
    font-style: italic;
    font-size: 18px;
}

.article-form {
    $font-size: 24px;

    label {
        color: $gray;
        font-size: 24px;
        font-family: $sans;
        margin-bottom: 3px;
        font-weight: normal;
    }

    input[type="text"], textarea, .form-description, div.form-control.editable {
        @extend %clean-input;
        
        margin: 0;
        padding: 0;
        color: $gray-dark;
        border-bottom: none;
        font-family: $serif;
        font-size:  $font-size;

        @include placeholder {
            color: $gray-light;
        }

        &.form-description {
            color: $gray-light;
        }
    }

    // medium editor placeholder
    .medium-editor-placeholder:after {
        font-style: normal;
        color: $gray-light;
        white-space: normal;

        &:hover {
            cursor: text;
        }
    }

    // input[type="checkbox"] {
    //     top: 7px;
    //     left: -40px;
    //     position: absolute;
    // }

    // by default pull left
    // .star {
    //     top: 3px;
    //     left: -40px;
    //     position: absolute;
    // }

    .form-group {
        position: relative;
        margin-bottom: 50px;
    }

    .form-controls {
        text-align: center;

        input[type="submit"] {
            color: $primary;
            background: white;
            border: 1px solid $primary;
            padding: 14px 60px;
            font-size: 20px;

            &:hover {
                color: white;
                background: $primary;
            }
        }
    }

    .word-count {
        color: $gray-light;
        text-align: right;
        font-family: $serif;
        margin-bottom: 40px;
        font-size:  $font-size + 2;

        .message {
            font-size: 20px;
            margin-right: 30px;

            @include media( $phone-landscape-down ) {
                font-size: 16px;
            }
        }

        &.error {
            color: $primary;
        }
    }

    &.edit .delete-post {
        vertical-align: bottom;
        margin-left: 50px;

        @include media( $phone-landscape-down ) {
            margin-left: 20px;
            margin-top: 20px;
        }

        @include media( $phone-portrait-down ) {
            margin-left: 0;
        }
    }
}

// Selectize Multi Select
.selectize-control.multi {
    .selectize-input {
        border: none;
        border-bottom: 1px solid transparent;
        padding-left: 0;
        border-radius: 0;
        padding-right: 0;
        box-shadow: none;
        
        &.dropdown-active, &.has-items {
            border-bottom-color: lighten( $gray-light, 10 );
        }

        &.has-items {
            padding:6px 0px 3px !important;
        }

        input {
            @include placeholder {
                line-height: 35px;
            }
        }

        .item {
            color: $gray;
            padding: 8px 14px;
            font-size: 18px;
            font-family: $serif;
            margin: 0 40px 15px 0 !important;
            background-color: white;
            border-bottom: 1px solid $gray-light;

            &.active {
                background-color: white;
                border-bottom: 1px solid $primary !important;
                color: $gray !important;
            }
        }
    }

    .selectize-dropdown {
        font-size: 18px;
        border-radius: 0;
        box-shadow: none;
        font-family: $sans;
        border-color: lighten( $gray-light, 10 );

        .create, .option {
            padding: 12px !important;
        }

        .option.active {
            background: mix($primary, white, 10%);
        }
    }
}

// Selectize Non Multi Select
.selectize-control:not(.multi) {

    input {
        @include placeholder {
            line-height: 30px;
        }
    }

    .item, input {
        font-size: 18px;
        margin-top: 4px;
        line-height: 18px;
        margin-bottom: 4px;
        font-family: $serif;
    }

    .selectize-input {
        box-shadow: none;
        border-radius: 0;
    }

    .selectize-dropdown {
        font-family: $serif;
        font-size: 16px;

        .option.active {
            background: mix($primary, white, 10%);
        }
    }
}

.pretty-select-dropdown {
    opacity: 0;
    background: white;
    position: absolute;
    z-index: $layer-main;
    border: 1px solid $gray-light;
    padding: 5px;

    &:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: white;
        position: absolute;
        left: -3px;
        border-top: 1px solid;
        border-left: 1px solid;
        border-color: $gray-light;
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
    }

    > a {
        padding: 3px;
        margin: 5px;
        display: block;
        white-space: nowrap;
        border-bottom: 1px solid transparent;

        &.active {
            color: $gray-dark;
            border-color: $gray-light;
        }
    }

    &.is-visible {
        opacity: 1;
    }
}

.pretty-select-wrap {
    position: relative;
    display: inline-block;

    label {
        display: inline-block;
        @include transition( color .3s );

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            background: transparent;
            border-top: 2px solid $gray-light;
            border-right: 2px solid $gray-light;
            @include transform( rotate(45deg) );
            @include transition( border-color .3s );
        }

        &:hover {
            cursor: pointer;
            cursor: hand;

            color: $primary;
            
            &:after {
                border-color: $primary;
            }
        }

        + span {
            top: 1px;
            color: $gray;
            font-size: 22px;
            margin-left: 20px;
            position: relative;
            display: inline-block;

            &:hover {
                cursor: pointer;
                cursor: hand;
            }
        }

        @include media( $phone-portrait-down ) {
            font-size: 20px;

            + span {
                font-size: 18px;
            }
        }
    }
}

// Comment form
.comment-form {

    .errors {
        color: $error;
    }

    .comment-message {
        @extend %clean-input;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 0;
        font-family: $serif;
        font-size: 18px;
    }
}

// callouts
div.alert {
    @include clearfix;

    padding: 20px;
    color: $primary;
    position: relative;
    padding-right: 45px;
    margin-bottom: 40px;
    background-color: rgba( $primary, .05 );

    &.success {
        color: $success;
        background-color: rgba( $success, .05 );

        a {
            color: $success;
            border-bottom: 1px solid $success;

            @include link-states {
                color: lighten( $success, 10%);
                border-color: lighten( $success, 10%);
            }
        }
    }

    &.neutral {
        color: $neutral;
        background-color: rgba( $neutral, .05 );

        a {
            color: $neutral;
            border-bottom: 1px solid $neutral;

            @include link-states {
                color: lighten( $neutral, 10%);
                border-color: lighten( $neutral, 10%);
            }
        }
    }

    .close {
        top: 15px;
        right: 15px;
        padding: 5px;
        opacity: 0.3;
        font-size: 27px;
        color: $gray-dark;
        position: absolute;
        background: transparent;
        @include transition( opacity .3s );

        &:hover {
            opacity: 0.6;
        }
    }

    &.alert-success { @extend .success; }
    &.alert-info { @extend .neutral; }
}
