/**
 * Grid related styles
 *
 * Uses Bourbon and Neat
 */

.container {

    @include outer-container;

    // add some padding everywhere, is this bad?
    padding: 0 1.618em;

    // responsive widths
    @include media( $phone-landscape-up ) {
        max-width: $phone-landscape - 20px;
    }

    @include media( $tablet-portrait-up ) {
        max-width: $tablet-portrait - 20px;
    }

    @include media( $tablet-landscape-up ) {
        max-width: $tablet-landscape - 20px;
    }

    @include media( $desktop-up ) {
        max-width: $desktop - 20px;

        &.thin {
            max-width: 700px;
        }
    }

    @include media( $huge-up ) {
        max-width: $huge - 20px;
    }
}