/**
 * Header
 */

 $header-background-color: white;

 .header-wrap {
    @extend %flex-center-container;

    height: 100%;

    @include media( $desktop-up ) {
        height: $header-height;
    }

    @include media( $desktop-down ) {
        .profile-trigger {
            padding: 10px;
        }
    }
}

.main-header {
    @extend %hw-accelerate;
    @extend %cody-base;

    background-color: white;
    z-index: $layer-front;
    height: $header-height-mobile;

    @include media( $desktop-up ) {
        height: $header-height;
    }

    .nav-is-fixed & {
        /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    > .container {
        height: 100%;
    }
}

// Holder for non-navigation content
.main-under-header {
   @extend %cody-base;
   background: $header-background-color;
   z-index: $layer-main;
   min-height: 100vh;
   height: 100%;
   margin-top: -$header-height-mobile;
   padding-top: $header-height-mobile;

   @include media( $desktop-up ) {
        margin-top: -$header-height;
        padding-top: $header-height;
   }
}

/**
 * Header Logo
 */

 .header-logo {
   display: inline-block;

   img {
    display: block;
    height: 25px;
}

@include media( $desktop-down ) {
    .nav-on-left & {
        left: auto;
        right: 5%;
    }
}
}

/**
 * Header Buttons
 */

 .header-buttons {
    @extend %flex-to-right;

    position: relative;
    z-index: $layer-front;
    margin-top: 0px;
    display: inline-block;

    li {
        display: inline-block;
        position: relative;
        vertical-align: middle;

        &:not( :last-child ) {
            @include media( $tablet-portrait-up ) { margin-right: 5px; }
            @include media( $desktop-up ) { margin-right: 10px; }
            @include media( $huge-up ) { margin-right: 20px; }
        }
    }

    @include media( $desktop-down ) {
        .nav-on-left & {
            right: auto;
            left: 5%;

            li {
                float: right;
            }
        }
    }

    @include media( $desktop-up ) {
        // top: 18px;
        // right: 4em;
    }
}

// profile trigger menu
.profile-trigger {

    $border-color: darken( $header-background-color, 10 );

    & + ul {
        right: 0;
        position: absolute;
        display: inline-block;
        padding: 5px 20px 10px;
        top: $header-height - 18;
        background: $header-background-color;
        // border-left: 1px solid $border-color;
        // border-right: 1px solid $border-color;
        // border-bottom: 1px solid $border-color;
        
        @extend %is-visible;

        @include media( $desktop-down ) {
            top: $header-height-mobile - 5;
        }

        li {
            margin-right: 0 !important;
            white-space: nowrap;
            width: 100%;

            a, &.name {
                display: block;
                padding: 3px 6px;
            }
        }
    }
}

/**
 * Global Overlay
 */
 .overlay {
    position: fixed;
    z-index: $layer-main;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba($gray, .8);
    
    @extend %is-visible;

    // @include media( $desktop-down ) {
    //     &.is-visible {
    //         @include transform(translateX(-$nav-width));
    //     }
    //     .nav-on-left &.is-visible {
    //         @include transform(translateX($nav-width));
    //     }
    //     &.is-visible.search-is-visible, .nav-on-left &.is-visible.search-is-visible {
    //         @include transform(translateX(0));
    //     }
    // }
}