/**
 * Site Login and Register
 */

.site-gateway-wrap {
    margin: 0;
    padding: 0;
    background: $gray-super-light;
}

.site-gateway {
    @extend .container;

    max-width: 425px;
    margin-top: 150px;
    margin-bottom: 150px;

    @include media( $tablet-landscape-down ) {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .site-logo {
        padding: 0 50px;

        @include media( $tablet-landscape-up ) {
            margin-bottom: 100px;
        }
    }

    .site-info, .site-auth {
        margin-top: 40px;
    }

    .site-info {
        //@include span-columns( 6 );

        font-size: 24px;
        font-family: $serif;
        padding-right: 30px;
        border-right: 1px solid $gray-light;

        @include media( $tablet-portrait-down ) {
            border-right: none;
            padding-right: 0;
        }

        .secondary {
            color: $gray;
        }
    }

    .site-auth {
        //@include span-columns( 6 );

        margin-bottom: 40px;

        .is-hidden {
            opacity: 0;
            visibility: hidden;
            display: none;
        }

        .form-group.password {
            position: relative;

            .forgot {
                right: 8px;
                top: 10px;
                position: absolute;

                a {
                    padding: 8px;
                    display: block;
                    font-size: 22px;
                    line-height: 22px;
                    color: $gray-light;

                    @include link-states {
                        color: $primary;
                    }
                }
            }
        }

        // Style input
        input[type='text'],
        input[type='textarea'],
        input[type='password'],
        input[type='email'] {
            @extend %clean-input;

            color: $gray;
            font-size: 22px;
            padding-top: 15px;
            margin-bottom: 30px;

            @include placeholder {
                color: $gray-light;
            }
        }

        input[type='submit'] {
            @extend .wide;
            @include transition( background .2s);
            
            border-radius: 0;
            padding: 20px 30px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }

    .errors-list {
        padding: 0;
        background: none;

        .icon {
            color: $primary;
        }

        li {
            margin-left: -15px;
        }
    }

    @include media( $tablet-portrait-down ) {

        .site-info, .site-auth {
            @include span-columns( 12 );
            padding: 0;
        }
    }
}

.site-auth-switch {
    // margin-top: $gutter;
    font-size: 18px;
    color: $gray-light;
    text-align: center;

    a {
        color: $gray;
        border-bottom: 1px solid $gray-light;
        
        @include link-states {
            color: $primary;
            border-color: $primary;
        }
    }
}