/**
 * Search
 */

.search-modal {
    @extend %is-hideable;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: $layer-front;
    background: rgba(255,255,255,.8);

    .help {
        margin-bottom: 40px;

        a {
            color: $gray-light;
            display: block;
            padding: 10px 0;

            @include link-states {
                color: $primary;
            }
        }
    }

    .close {
        top: 20px;
        right: 20px;
        position: fixed;
        background: rgba(255,255,255,.9);
        z-index: $layer-front;
    }

    .search-form {
        display: block;
        background: white;
        padding-top: 50px;
        position: relative;
        z-index: $layer-main;
    }

    .intro {
        display: block;
        font-size: 18px;
        color: $gray;
    }

    .search-field {
        padding: 0;
        width: 100%;
        border: none;
        font-size: 40px;
        box-shadow: none;
        margin-bottom: 40px;
        background: transparent;

        @include media( $phone-landscape-down ) {
            font-size: 25px;
            margin-bottom: 25px;
        }

        // prevent click border
        &:focus {
            outline: none;
        }
    }
}