/**
 * Sidebar styles
 */

.sidebar {
    > section:not(:last-child) {
        margin-bottom: 40px;
    }

    header {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-light;

        h2 {
            margin: 0;
            font-size: 24px;
            line-height: 24px;
            font-family: $serif;
        }
    }
}

// Top Articles
// Does this belong somewhere else?
.top-articles {

    header {
        position: relative;
        .sub-right {
            @extend .red;

            top: 4px;
            right: 0;
            font-size: 14px;
            position: absolute;
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .title, .name {
            display: block;
        }

        .title {
            font-size: 20px;
            margin-bottom: 5px;
            color: $gray-dark;

            &:hover, &:active, &:focus {
                color: $primary;
            }
        }

        .name {
            font-size: 16px;
        }
    }

    .more {
        font-size: 14px;
        margin-top: 20px;

        a {
            @extend .red;
        }
    }
}