/**
 * User UI Elements
 */

 .user-block {

    width: 100%;
    display: flex;
    align-items: flex-start;

    .user-avatar {
        width: 58px;
        min-width: 58px;
        margin-right: 20px;
    }

    .user-meta {

        a {
            font-family: $sans;
             color: $gray-dark;
             margin-bottom: 8px;
             display: inline-block;

             &:hover {
                 color: $primary;
             }

             &.delete-comment {
                @extend .red;
                
                margin-top: 10px;
             }
        }
    }
 }

.missing-user {
    color: $gray-light;
}

 .user-avatar {
     width: 100%;
     height: 100%;

     @extend %cover-image;

     // Circular image
     .background {
         border-radius: 100%;
     }
 }

 .user-settings {
    @extend %head-space;

    .user-title {
        font-size: 35px;
        margin-bottom: 80px;
        font-family: $sans-medium;

        .user {
            color: $gray;
        }
    }

    .settings {
        $font-size: 24px;
        @include outer-container;

        .settings-block {
            margin-bottom: 80px;
            font-size: $font-size;

            header {
                color: $gray;
            }

            main, footer {
                font-family: $serif;
            }

            .response {
                display: none;
                color: $gray-light;
                font-size: 22px;
                margin-top: 20px;
                margin-bottom: 20px;

                &.show {
                    display: block;
                }
            }

            footer {
                ul {
                    @include inline-list( 8px );
                }

                ul.wide {
                    display: flex;
                    justify-content: space-between;
                }

                a {
                    color: $primary;
                    padding-bottom: 3px;
                    display: inline-block;
                    line-height: $font-size;
                    border-bottom: 1px solid $primary;

                    @include link-states {
                        color: $primary-light;
                    }

                    &.gray {
                        color: $gray-light;
                        border-color: $gray-light;

                        @include link-states {
                            color: $primary;
                            border-color: $primary;
                        }
                    }
                }
            }

            &.wave {
                text-align: center;

                img {
                    width: 120px;
                }
            }

            @include span-columns( 6 );
            @include omega( 2n );

            @include media( $tablet-portrait-down ) {
                @include span-columns( 12 );
            }
        }
    }
 }