/**
 * General Article Styles
 */

article.article-preview {

    .article-thumbnail {

        @extend %cover-image;

        .hover-info, .draft-info {
            color: white;
            font-family: $sans;
        }

        .super {
            width: 50px;
            right: -15px;
            display: none;
            bottom: -15px;
            position: absolute;
            z-index: $layer-main;
        }

        .draft-info {
            top: 50%;
            left: 50%;
            font-size: 30px;
            position: absolute;
            white-space: nowrap;
            transform: translate(-50%, -50%);

            @include media( $tablet-landscape-down ) {
                font-size: 25px;
            }
        }
        
    }

    &.super-bumped .super {
        display: initial;
    }

    &.draft {
        .background:before {
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0.65;
            display: block;
            background-color: black;
        }
    }

    .user-meta {
        @include inline-list( 10px );
        font-size: 16px;

        [class^="icon-"], [class*=" icon-"] {
            font-size: 23px;
            vertical-align: middle;
        }

        .comments, .bumps {
            float:right;

            &:last-child {
                margin-right: 10px;
            }
        }
    }

    .title {
        color: $gray-dark;

        &:hover {
            color: $primary;
        }

        h2 {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

    .comments a {
        color: $gray-light;

        &:hover {
            color: $primary;
        }
    }

    .bumps {
        color: $gray-light;

        &.bumped {
            color: $primary;
        }
    }
}

article.vertical-feature {
    margin-bottom: 40px;

    .title h2 {
        font-size: 35px;
        margin-bottom: 30px;
        display: inline-block;
        font-family: $sans-medium;
    }

    > header {
        position: relative;

        > .user-meta {
            right: 0;
            top: 32px;
            position: absolute;
        }
    }

    .user-block {
        margin-bottom: 30px;
    }

    .article-thumbnail {
        margin-bottom: 45px;
    }

    .overview {
        font-family: $serif-medium;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .continue {
        color: $primary;

        &:hover, &:active, &:focus {
            color: $primary-light;
        }
    }
}

// Article List :: Horizontal Medium
article.horizontal-medium {
    @include clearfix;

    width: 100%;
    margin-bottom: 60px;
    display: inline-block;

    // &:not( :last-child ) {
    //     margin-bottom: 25px;
    //     padding-bottom: 25px;
    //     border-bottom: 1px solid $gray;
    // }

    .article-thumbnail {
        float: left;
        width: 220px;

        @include media( $tablet-landscape-down ) {
            float: none;
            min-width: 100%;
            margin-bottom: 20px;
        }
        @include media( $tablet-landscape-up ) {
            margin-right: 20px;
        }
        @include media ( $desktop-up ) {
            margin-right: 40px;
        }

        .hover-info, .draft-info {
            color: white;
            font-size: 45px;
            line-height: 45px;
        }
    }

    .details {
        overflow: hidden;
    }
} // .horizontal-medium

article.vertical-medium {
    margin-bottom: 40px;

    .article-thumbnail {
        margin-bottom: 15px;
    }
}

.cover-photo {
    height: 400px;
    display: flex;
    position: relative;
    background-color: $gray;
    background-size: cover;
    background-position: center center;

    a.button {
        color: $gray-dark;
        background: white;
        position: relative;
        margin: 0 auto -23px;
        align-self: flex-end;
        z-index: $layer-front;
        border: 1px solid $gray-light;

        @include transition( border-color .3s );

        &:hover, &:active, &:focus {
            border-color: $primary;
        }
    }

    .article-super {
        width: 100%;
        display: block;
        align-self: flex-end;
        @include transform( translateY( 50% ) );

        img {
            width: 60px;
            display: block;
        }
    }

    a.edit-article {
        left: 50%;
        bottom: 0;
        position: absolute;
        @include transform( translateX( -50% ) );
    }

    .default {
        $font-size: 24px;
        $font-size-big: $font-size + 15;

        top: 50%;
        left: 50%;
        position: absolute;
        text-align: center;
        color: darken( $gray, 10% );
        @include transform( translate(-50%, -50%) );

        @include media( $tablet-landscape-down ) {
            width: 75%;
        }

        @mixin cover-heading( $size ) {
            font-size: $size;
            margin: 0 0 15px;

            @include media( $tablet-landscape-down ) {
                font-size: $size - 5;
                margin-bottom: 10px;
            }

            @include media( $phone-landscape-down ) {
                font-size: $size - 10;
                margin-bottom: 5px;
            }
        }

        h2 {
            @include cover-heading( $font-size-big );
        }

        h4 {
            @include cover-heading( $font-size );
        }

        p {
            font-size: $font-size - 4;
        }
    }

    &.dropped .default {
        display: none;
    }

    @include media( $tablet-portrait-down ) {
        height: 200px;
    }
} // .vertical-medium

.article-detail {
    margin-top: 100px;
    font-family: $serif;
    font-size: 24px;

    @include media( $tablet-portrait-down ) {
        margin-top: 50px;
    }

    .professional-title {
        font-size: 18px;
        margin-bottom: 0;
        margin-top: -10px;
        color: $gray-light;
        font-family: $sans-italic;
    }

    .under-review {
        text-align: center;

        p {
            color: $gray;
            margin-bottom: 30px;
            padding-bottom: 15px;
            display: inline-block;
            border-bottom: 1px solid $primary;
        }
    }

    .heading {
        font-family: $sans-medium;
        font-size: 36px;
    }

    .subheading {
        color: $gray;
        font-size: 24px;
        margin-bottom: 0;
    }

    .body {
        margin-bottom: 75px;

        > div {
            margin-bottom: 30px;
        }
    }

    .category {
        font-size: 18px;
        font-family: $sans;
        color: $gray;
        margin-bottom: 20px;

        a {
            color: $gray-dark;

            &:hover {
                color: $primary;
            }
        }
    }

    footer {
        .user {
            @extend .user-block;
            font-size: 18px;
            margin-bottom: 80px;
        }
    }

    .request-edits-form {
        display: none;
        padding: 50px 20px;
        margin-top: 30px;
        text-align: left;
        border-top: 1px solid lighten($gray-light, 10%);
        border-bottom: 1px solid lighten($gray-light, 10%);

        &.show {
            display: block;
        }

        .alert {
            font-size: 16px;
            font-family: $sans;
            display: none;

            &.show {
                display: block;
            }
        }

        .main-group {
            margin-bottom: 10px;
        }

        // consider moving this to all .form-group?
        .form-group:last-child {
            margin-bottom: 0;
        }
    }

    .actions {
        text-align: center;
        padding-top: 30px;
        
        ul {
            @include inline-list( 20px );

            display: flex;
            flex-wrap: wrap;

            @include media( $phone-landscape-up ) {
                justify-content: space-between;
            }

            a {
                font-size: 20px;
                color: $gray;
                padding: 5px 20px;
                margin-bottom: 20px;
                display: inline-block;
                border: 1px solid $gray;
                font-family: $sans-medium;

                @include link-states {
                    color: $primary;
                    border-color: $primary;
                }

                &.red {
                    color: $primary;
                    border-color: $primary;

                    @include link-states {
                        color: $primary-light;
                        border-color: $primary-light;
                    }
                }
            }
        }

        &.moderate {
            margin-bottom: 30px;

            ul {
                margin-bottom: 15px;
            }

            .reject {
                font-size: 18px;
            }
        }
    }
}

/**
 * Bump section
 */
.bump {
    text-align: center;
    margin-bottom: 80px;

    @include media( $tablet-portrait-up ) {
        margin-bottom: 80px;
    }

    .message {
        color: $gray-light;
        font-family: $sans;
        font-size: 18px;

        &.active {
            color: $primary;
        }
    }

    .trigger {
        opacity: .5;
        @include transition( opacity .3s );

        > img {
            width: 86px;
            height: 86px;
            display: inline-block;
            // @extend %hw-accelerate;
            @include transition( transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) );
        }

        &:hover {
            opacity: .65;
        }

        &.bumped {
            opacity: 1;

            &+ .count > .you {
                display: initial;
            }

            > img {
                @include transform( scale( 1.3 ) );
            }
        }
    }

    .count {
        color: $gray-light;
        font-family: $serif;
        font-size: 16px;

        > .you {
            display: none;
        }

        .active {
            color: $gray;
        }
    }
}

.article-divider {
    margin-bottom: 60px;
}

/**
 * Comments Section
 */

.article-comments {
    margin-bottom: 80px;
}

.user-comment {
    margin-bottom: 30px;

    .comment-intro {
        color: $gray;
        font-size: 18px;
        margin-bottom: 0;
    }

    .comment-message {
        margin-bottom: 15px;
    }

    .button {
        margin-bottom: 10px;

        &.hidden {
            display: none;
        }
    }
}

.comments {
    .comment:not(:last-child) {
        margin-bottom: 80px;
    }

    .comment-anchor {
        color: $gray-light !important;

        @include link-states{
            color: $primary !important;
        }
    }

    .comment.author {
        
        .user-avatar {
            overflow: visible;

            .background:before {
                top:0;
                left: 0;
                opacity: 1;
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                border-radius: 100%;
                @extend %hw-accelerate;
                background: transparent;
                border: 1px solid $primary;
                @include transform( scale( 1.2 ) );
            }
        }
    }

    .user {
        font-size: 20px;
    }

    .time, .message {
        font-family: $serif;
        font-size: 18px;
    }
}

/**
 * Related Articles
 */

.related-articles {
    margin-top: 50px;

    .articles {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .article-preview {
        width: 30%;
        display: inline-block;
    }

    @include media( $tablet-portrait-down ) {
        .article-preview {
            width: 45%;
        }
    }

    @include media( $phone-landscape-down ) {
        .articles {
            flex-direction: column;
        }

        .article-preview {
            width: 100%;
        }
    }
}

/**
 * Article List (search, category, etc)
 */
.article-list {
    @include outer-container;

    // Don't show the feature star on approval screen
    &.no-stars .star-control {
        display: none;
    }

    &.double {
        .article-preview {
            @include span-columns( 6 );
            @include omega( 2n );

            @include media( $phone-landscape-down ) {
                @include span-columns( 12 );
                @include omega( auto );
            }
        }
    }

    &.third {
        .article-preview {
            @include span-columns( 4 );
            @include omega( 3n );

            @include media( $tablet-landscape-down ) {
                @include omega-reset( 3n );
                @include span-columns( 6 );
                @include omega( 2n );
            }

            @include media( $phone-landscape-down ) {
                @include omega-reset( 2n );
                @include span-columns( 12 );
                @include omega( auto );
            }
        }
    }

    &.quad {
        .article-preview {
            @include span-columns( 3 );
            @include omega( 4n );

            @include media( $tablet-landscape-down ) {
                @include omega-reset( 4n );
                @include span-columns( 6 );
                @include omega( 2n );
            }

            @include media( $phone-landscape-down ) {
                @include omega-reset( 2n );
                @include span-columns( 12 );
                @include omega( auto );
            }
        }
    }
}

/**
 * Paging
 */
.pagination {
    display: flex;
    color: $gray-light;
    justify-content: space-between;

    a {
        color: $primary;
        font-size: 14px;

        &:hover, &:active, &:focus {
            color: $primary-light;
        }
    }
}

/**
 * Results page
 */
.article-results {
    margin-top: 60px;

    // Force no "under reivew" for approval list
    &.waiting-for-approval {
        .draft-info {
            display: none;
        }

        .background:before {
            display: none !important;
        }
    }

    .page-title {
        color: $gray;

        .stand-out {
            color: $gray-dark;
            padding-bottom: 3px;
            display: inline-block;
            border-bottom: 1px solid $gray;
        }
    }
}
