/**
 * Buttons
 */

 #{$all-buttons}, .button {

    color: white;
    border-radius: 0;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    font-family: $sans-medium;
    background-color: $primary;

    @include transition( background-color .3s, border-colo .3s );

    @include link-states {
        color: white;
        background-color: $primary-dark;
    }

    &.large {
        font-size: 1.4em;
        padding: 20px 50px;
    }

    &.fixed {
        min-width: 200px;
        padding-left: 40px;
        padding-right: 40px;
    }

    &.full {
        display: block;
        width: 100%;
    }

    &.hollow {
        background: white;
        border: 1px solid $primary;
        color: $primary;

        @include link-states {
            color: white;
            background-color: $primary;
        }

        &.gray {
            color: $gray;
            border-color: $gray;

            @include link-states {
                color: white;
                background-color: $gray;
            }
        }
    }
}