/**
 * Icons
 */

$color-1: black;

%trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    /* hide text */
    color: transparent;
    z-index: $layer-main;
}

// Header Icons

.search-trigger, .nav-trigger, .close-trigger, .profile-trigger {
    @extend %trigger;
}

.profile-trigger {
    @extend %vertical-align-parent;
    text-align: center;

    img {
        @extend %vertical-align;
    }
}

.close-trigger > span {
    // close icon
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &:before, &:after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 22px;
        top: 50%;
        margin-top: -2px;
        left: 50%;
        margin-left: -11px;
        background: $gray;
    }

    &:before {
        @include transform(rotate(135deg));
    }

    &:after {
        @include transform(rotate(45deg));
    }
}

// search icon
.search-trigger {

    &::before, &::after {
        /* search icon */
        content: '';
        position: absolute;
        @include transition(opacity .3s);
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &::before {
        /* lens */
        top: 11px;
        left: 11px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 3px solid $gray;
    }

    &::after {
        /* handle */
        height: 3px;
        width: 8px;
        background: $gray;
        bottom: 14px;
        right: 11px;
        @include transform(rotate(45deg));
    }

    span {
        /* container for the X icon */
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    span::before, span::after {
        /* close icon */
        content: '';
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 22px;
        top: 50%;
        margin-top: -2px;
        left: 50%;
        margin-left: -11px;
        background: $gray;
        opacity: 0;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include transition(opacity .3s, transform .3s);
    }

    span::before {
        @include transform(rotate(45deg));
    }

    span::after {
        @include transform(rotate(-45deg));
    }

    &.search-is-visible {
        &::before, &::after {
            /* hide search icon */
            opacity: 0;
        }

        span::before, span::after {
            /* show close icon */
            opacity: 1;
        }

        span::before {
            @include transform(rotate(135deg));
        }

        span::after {
            @include transform(rotate(45deg));
        }
    }
}

// navigation icon
.nav-trigger {

    span, span::before, span::after {
        /* hamburger icon in CSS */
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: $gray;
    }

    span {
        /* line in the center */
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        @include transition(background .3s .3s);
    }

    span::before, span::after {
        /* other 2 lines */
        content: '';
        right: 0;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include transform-origin(0% 50%);
        @include transition(transform .3s .3s);
    }

    span::before {
        /* menu icon top line */
        top: -6px;
    }

    span::after {
        /* menu icon bottom line */
        top: 6px;
    }

    &.nav-is-visible {
        span {
            /* hide line in the center */
            background: rgba($gray, 0);
        }

        span::before, span::after {
            /* keep visible other 2 lines */
            background: rgba($gray, 1);
        }

        span::before {
            @include transform(translateX(4px) translateY(-3px) rotate(45deg));
        }

        span::after {
            @include transform(translateX(4px) translateY(2px) rotate(-45deg));
        }
    }

    @include media( $desktop-up ) {
        display: none;
    }
}