/**
* Navigation
*/

$nav-background-color: $gray-dark;

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: $nav-width;
    display: block;
    height: 100%;

    .count {
        display: inline-block;
        margin-left: 10px;
        color: $gray-light;
        font-size: 14px;

        @include media( $desktop-down ) {
            color: lighten($gray-dark, 20%);
            float: right;
        }
    }
}

.main-nav ul, .main-nav .ul-wrap {
    // position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: $nav-width;
    background: $nav-background-color;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: $layer-back;
    @extend %hw-accelerate;

    @include transform(translateX(0));
    @include transition(transform .3s);

    .secondary-nav {
        top: initial;

        @include media( $desktop-down ) {
            top: 0;
            position: fixed;
        }
    }

    a {
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        color: $gray;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid lighten($nav-background-color, 5%);
        @include transform(translateZ(0));
        will-change: transform, opacity;
        @include transition(transform .3s, opacity .3s);

        &.heading {
            font-size: 15px;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            color: lighten($gray-dark, 20%);
        }
    }

    &.is-hidden {
        /* secondary navigations hidden by default */
        @include transform(translateX(100%));
    }

    &.moves-out > li > a {
        /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
        @include transform(translateX(-100%));
        opacity: 0;
    }

    // main items with children
    .has-children > a, .go-back a {
        position: relative;

        &::before, &::after {
            /* arrow icon in CSS - for element with nested unordered lists */
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            display: inline-block;
            height: 2px;
            width: 10px;
            background: $gray;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &::before {
            @include transform(rotate(45deg));
        }

        &::after {
            @include transform(rotate(-45deg));
        }

        @include media( $desktop-down ) {
            &::before, &::after {
                background: $gray;
            }

            &:hover::before, &:hover::after {
                background: $gray;
            }
        }
    }

    .has-children > a {
        padding-right: 40px;

        &::before, &::after {
            /* arrow goes on the right side - children navigation */
            right: 20px;
            @include transform-origin(9px 50%);
        }
    }

    &.right-nav .go-back a {
        padding-left: 40px;

        &::before, &::after {
            /* arrow goes on the left side - go back button */
            left: 20px;
            @include transform-origin(1px 50%);
        }
    }

    @include media( $desktop-up ) {
        .has-children > a {
            &::before, &::after {
                right: 15%;
            }
        }

        &.right-nav > .has-children > a {
            /* main navigation arrows on larger devices */
            padding-right: 30px !important;

            &::before, &::after {
                width: 9px;
                @include transform-origin(50% 50%);
                background: $gray;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                @include transition(width .3s, transform .3s);
            }

            &::before {
                right: 12px;
            }

            &::after {
                right: 7px;
            }

            &.selected::before, &.selected::after {
                width: 14px;
            }

            &.selected::before {
                @include transform(translateX(5px) rotate(-45deg));
            }

            &.selected::after {
                @include transform(rotate(45deg));
            }
        }

        .secondary-nav > .has-children > a::before, .secondary-nav > .has-children > a::after {
            /* remove arrows on secondary nav titles */
            display: none;
        }

        .go-back a {
            padding-left: 20px;

            &::before, &::after {
                left: 1px;
            }
        }

        .secondary-nav {
            box-shadow: inset 0 1px 0 $primary, 0 3px 6px rgba(#000, .05);
            width: 100vw;
            position: absolute;
            right: 0;
            background: white;
            padding: 48px 64px;
            @include transform(translateX(0));
            @include clearfix;
            @include transition( opacity .3s 0s, visibility 0s 0s );

            @include media( $desktop-down ) {
                width: auto;
                position: initial;
            }

            &.is-hidden {
                opacity: 0;
                visibility: hidden;
                @include transition( opacity .3s 0s, visibility 0s .3s );
            }

            .go-back {
                display: none;
            }

            > li, > ul > li {
                width: 32%;
                float: left;
                margin: 0 2% 20px 0;

                &:nth-child(3n+1) {
                    /* +2 because we have two additional list items with display:none */
                    margin-right: 0;
                }

                a {
                    padding: 10px 20px;
                    height: auto;
                    border: none;
                    background: white;

                    &:hover {
                        background: #f6f6f5;
                    }
                }
            }
        }
    }
}

@include media( $desktop-down ) {
    .main-nav > ul {
        /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
        visibility: hidden;
        @include transition(visibility 0s .3s);

        &.nav-is-visible {
            visibility: visible;
            @include transition(visibility 0s 0s);
        }
    }
}

@include media( $desktop ) {
    .main-nav {
        position: static;
        padding: 0 150px 0 0;
        height: auto;
        width: auto;
        float: right;
        overflow: visible;
        background: transparent;
        @include clearfix;

        &.moves-out > li > a {
            /* reset mobile style */
            @include transform(translateX(0));
            opacity: 1;
        }

        ul {
            position: static;
            height: auto;
            width: auto;
            background: transparent;
            overflow: visible;
            z-index: $layer-front;

            &.is-hidden {
                /* reset mobile style */
                @include transform(translateX(0));
            }

            &.moves-out > li > a {
                /* reset mobile style */
                @include transform(translateX(0));
                opacity: 1;
            }

            &.right-nav {
                position: absolute;
                padding-right: 90px;
            }
        }

        > ul > li {
            float: left;
            margin-left: 3em;
        }

        > ul > li > a {
            /* main navigation buttons style */
            position: relative;
            display: inline-block;
            height: $header-height;
            line-height: $header-height;
            padding: 0 10px;
            color: $gray;
            overflow: visible;
            border-bottom: none;
            @include transition(color .3s, box-shadow .3s);

            &:hover {
                color: $gray-dark;
            }

            &.selected {
                color: $gray-dark;
                box-shadow: inset 0 -2px 0 $primary-dark;
            }
        }

        .go-back, .see-all {
            display: none;
        }

        .nav-gallery, .nav-icons {
            /* dropdown menu style */
            position: absolute;
            top: $header-height;
            width: 100vw;
            background: $gray;
            padding: 48px 64px 130px;
            box-shadow: inset 0 1px 0 $gray-dark, 0 3px 6px rgba(#000, .05);
            @include transform(translateX(0));
            @include clearfix;
            -webkit-transition: opacity .3s 0s, visibility 0s 0s;
            -moz-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;

            &.is-hidden {
                opacity: 0;
                visibility: hidden;
                -webkit-transition: opacity .3s 0s, visibility 0s .3s;
                -moz-transition: opacity .3s 0s, visibility 0s .3s;
                transition: opacity .3s 0s, visibility 0s .3s;
            }

            > .see-all {
                /* this is the BIG See all button at the bottom of the dropdown menu */
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 80px;
                width: 100%;
                overflow: hidden;
                /* reset some inherited style */
                margin: 0;
                padding: 0;

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    font-size: 2.2rem;
                    font-weight: bold;
                    text-align: center;
                    line-height: 80px;
                    border-top: 1px solid $gray;
                    /* reset some inherited style */
                    border-bottom: none;
                    margin: 0;
                    padding: 0;
                    @include transition(color .2s, background .2s, border .2s);

                    &:hover {
                        background: $primary;
                        border-color: $primary;
                        color: $gray;
                    }
                }
            }
        }

        .nav-icons {
            li {
                /* set here number of columns - use width percentage */
                // @include column(.32);
                margin: 0 2% 20px 0;

                &:nth-child(3n+2) {
                    /* +2 because we have two additional list items with display:none */
                    margin-right: 0;
                }
            }

            .nav-item {
                border-bottom: none;
                height: 80px;
                line-height: 1.2;
                padding: 24px 0 0 85px;

                &:hover {
                    background: $gray-light;
                }

                h3 {
                    color: $primary-dark;
                    font-weight: bold;
                }

                p {
                    display: block;
                }

                &::before {
                    left: 25px;
                }
            }
        }
    }
}

.ul-wrap {
    height: auto !important;
}

.category-nav {

    > ul {
        @extend .container;

        padding: 0 7em !important;

        @include media( $tablet-landscape-down ) {
            padding: 0 !important;
            max-width: auto !important;
        }
    }
}