/**
 * Tags Styles
 */

 ul.tags {
     margin-bottom: 30px;

     li {
         margin-bottom: 15px;
         display: inline-block;

         &:not(:last-child) {
             margin-right: 10px;
         }

         &.title {
            font-family: $sans;
            color: $gray;
            font-size: 22px;
         }
     }

     a {
         display: block;
         font-size: 18px;
         line-height: 18px;
         font-family: $sans-medium;
         color: $gray;
         border-bottom: 1px solid $gray-light;
         
         @include transition( border .3s, color .3s );

         &:hover {
             color: $primary;
             border-color: $primary;
         }
     }
 }