/**
 * Helpers
 */

%head-space, .head-space {
    margin-top: 60px;

    @include media( $phone-landscape-down ) {
        margin-top: 20px;
    }
}

%foot-space, .foot-space {
    margin-bottom: 60px;

    @include media( $phone-landscape-down ) {
        margin-bottom: 20px;
    }
}

// Force Hardware Acceleration in WebKit
%hw-accelerate {
    @include transform(translateZ(0));
    will-change: transform;
}

%cody-base {
    position: relative;
    @include transition(transform .3s);

    @include media( $desktop-down ) {
        &.nav-is-visible {
            @include transform( translateX( -$nav-width ) );
        }

        .nav-on-left &.nav-is-visible {
            @include transform( translateX( $nav-width ) );
        }
    }
}

%is-hideable {
    @include transition(
        opacity .3s 0s, 
        visibility 0s 0s
    );

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        @include transition(
            opacity .3s 0s, 
            visibility 0s .3s
        );
    }
}

%is-visible {
    opacity: 0;
    visibility: hidden;
    @include backface-visibility(hidden);
    @include transition(opacity .3s 0s, visibility 0s .3s);

    &.is-visible {
        opacity: 1;
        visibility: visible;
        @include transition(opacity .3s 0s, visibility 0s 0s);
    }
}

/**
 * Cover Image
 *
 * Image replacement that forces the size to cover the parent
 * 
 * @child: .background
 * @child .spacer
 */
%cover-image {
    position: relative;

    &.mask, .mask {
        overflow: hidden;
    }

    .mask {
        display: block;
        position: relative;
    }

    .spacer {
        display: block;
        min-width: 100%;
    }

    .hover-info {
        top: 50%;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);

        @extend %hw-accelerate;
        @include transition( opacity .3s );
    }

    .background {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-size: cover;
        background-color: $gray;
        background-position: center center;

        &.photo {
            background-color: transparent;
        }

        @extend %hw-accelerate;
        @include transition( transform .3s );

        &:before {
            opacity: 0;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: $primary;

            @include transition( opacity .3s );
        }
    }

    &.hover-image:hover {
        .background {
            @include transform( scale( 1.1 ) );
        }
    }

    &.hoverable:hover {
        @extend .hover-image;

        .hover-info {
            opacity: 1;

            @include transition( opacity .3s .1s, transform .3s .1s );
        }

        .background:before {
            opacity: .5;
        }

    }
} // %cover-image

%flex-container {
    display: flex;
}

%flex-center-container {
    @extend %flex-container;
    align-items: center;
}

%flex-to-top {
    align-self: flex-start;
}

%flex-to-bottom {
    align-self: flex-end;
}

%flex-to-right {
    margin-left: auto;
}

.serif {
    font-family: $serif;
}