@mixin vertical-align {
    position: relative;
    top: 50%;
    @include transform( translateY( -50% ) );
}

%vertical-align {
    @include vertical-align;
}

%vertical-align-parent {
    @include transform-style(preserve-3d);
}

// Input placeholder colors
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

// Wider column gutters
@mixin span-columns-wide( $span ) {
    &:not( :first-child ) {
        @include media( $tablet-portrait-up ) { padding-left: 20px; }
        @include media( $desktop-up ) { padding-left: 40px; }
        @include media( $huge-up ) { padding-left: 60px; }
    }

    &:not( :last-child ) {
        @include media( $tablet-portrait-up ) { padding-right: 20px; }
        @include media( $desktop-up ) { padding-right: 40px; }
        @include media( $huge-up ) { padding-right: 60px; }
    }

    // continue to default
    @include span-columns( $span )
}

// Quick set for link states
@mixin link-states {
  &:active, &:focus, &:hover {
    @content;
  }
}

/**
 * Inline List
 *
 * Apply to a UL element
 */
@mixin inline-list( $margin:0 ) {
    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: $margin;
        }
    }
}

@mixin vertical-list( $margin:0 ) {
    li {
        display: block;

        &:not(:last-child) {
            margin-bottom: $margin;
        }
    }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}