/**
 * Variables
 */

 //Device Widths 
 $phone-portrait:           320px; 
 $phone-landscape:          568px;
 $tablet-portrait:          768px;
 $tablet-landscape:         1024px; 
 $desktop:                  1030px;
 $huge:                     1140px;

 // Target device and smaller screens 
 $phone-portrait-down:      new-breakpoint(max-width $phone-portrait); 
 $phone-landscape-down:     new-breakpoint(max-width $phone-landscape); 
 $tablet-portrait-down:     new-breakpoint(max-width $tablet-portrait); 
 $tablet-landscape-down:    new-breakpoint(max-width $tablet-landscape); 
 $desktop-down:             new-breakpoint(max-width $desktop);
 $huge-down:                new-breakpoint(max-width $huge);

 // Target device and bigger screens 
 $phone-portrait-up:        new-breakpoint(min-width $phone-portrait); 
 $phone-landscape-up:       new-breakpoint(min-width $phone-landscape); 
 $tablet-portrait-up:       new-breakpoint(min-width $tablet-portrait); 
 $tablet-landscape-up:      new-breakpoint(min-width $tablet-landscape); 
 $desktop-up:               new-breakpoint(min-width $desktop);
 $huge-up:                  new-breakpoint(min-width $huge);

// Z-index layers
$layer-back:                1;
$layer-main:                2;
$layer-front:               3;

// UI Sizes
$nav-width:                 240px;
$header-height-mobile:      50px;
$header-height:             80px;

// Fonts
$serif:                     'Fazeta-RegularText';
$serif-italic:              'Fazeta-RegularItalicText';
$serif-bold:                'Fazeta-BoldText';
$serif-medium:              'Fazeta-MediumText';
$serif-medium-italic:       'Fazeta-MediumItalicText';

$sans:                      'Libertad';
$sans-italic:               'Libertad-Italic';
$sans-bold:                 'Libertad-Bold';
$sans-medium:               'Libertad-Medium';
$sans-medium-italic:        'Libertad-MediumItalic';

// Colors
$primary:                   #ff574a;
$secondary:                 #ffefc0;
$success:                   #00afa8;
$neutral:                   #aa7d00;
$gray:                      #9f9fa0;

// Color tints and shades
$primary-dark:              darken( $primary, 10% );
$primary-light:             lighten( $primary, 10% );
$secondary-dark:            darken( $secondary, 10% );
$secondary-light:           lighten( $secondary, 10% );
$gray-dark:                 #404041;
$gray-light:                #cfcfcf;
$gray-super-light:          #f1f1f2;
$error:                     #E07D75;

// Bitters Overrides
$base-border-radius:        0;